h1 Edit a candidate

- if @candidate.errors.full_messages.any?
  - @candidate.errors.full_messages.each do |msg| 
    = msg

= render partial: "form"

/ = simple_form_for @candidate do |f|
/   = f.input :name, label: "Name"
/   = f.input :party, label: "Party"
/   = f.input :age, label: "Age"
/   = f.input :politics, label: "Politics"
/   = f.submit "Submit", class: "btn btn-primary"


