h1 Create a candidate

- if @candidate.errors.full_messages.any?
  - @candidate.errors.full_messages.each do |msg| 
    = msg

/ 預期會有 @candidate，變數名稱會被侷限在 @candidate
/ = render partial: "form"  
= render partial: "form", locals: { candidate: @candidate } 
/ = render "form", candidate: @candidate
